#!/bin/bash
export PORKBUN_API_KEY=pk1_...
export PORKBUN_SECRET_KEY=sk1_...
export TF_TOKEN_app_terraform_io=....atlasv1....
export TF_CLOUD_ORGANIZATION=your_organization
export TF_WORKSPACE=your_workspace
